.facebook-app {
    .fb-login {
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        p {
            display: flex;
        }
        i.material-icons {
            color: $success;
            font-weight: 600;
            margin-right: 10px;
            font-size: 21px;
        }
        button {
            border-radius: 5px !important;
            padding: 10px 20px;
        }
        .row {
            &.row-login {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                height: calc(100vh - 200px);
            }
        }
    }
    .btn-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        background: rgba(255, 0, 0, 0.8);
        border-radius: 50%;
        font-size: 28px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all ease;
        &:hover {
            font-size: 35px;
            width: 80px;
            height: 80px;
            background: #ff0000;
        }
    }
}