// $success : #32c861;
// $light-success : #dff0d8;
// $warning : #ebcc98;
// $light-warning :#fbe3bb;
// $text : #333333;
// $gray : #f3f1f1;
$yellow :#ffea01;
// $primary: #4489e4;
// $info: #34d3eb;
$bg-relation : #fcf8e3;
$border-relation : #faebcc;
$color-relation : #8a6d3b;
$bg-active : #f2dede;
$border-active : #ebccd1;
$color-active : #a94442;
$bg-wait : #dff0d8;
$border-wait : #dff0d8;
$color-wait : #faebcc;
$bg-booked : #d2ffd3;
$border-booked : #32c861;
$color-booked : #3c763d;
@import "../sass/static/author";
@import "../sass/static/mixin";
@import "../sass/static/variables";
@import "../sass/static/animation";
@import "../sass/static/btn";
@import "default";
@import "font";
@import "wrap";
@import "modal";
